<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!--<localRepository>./m2_repository</localRepository>-->
  <pluginGroups>
  </pluginGroups>
  <proxies>
    <!-- proxy
     | Specification for one proxy, to be used in connecting to the network.
     |
    <proxy>
      <id>optional</id>
      <active>true</active>
      <protocol>http</protocol>
      <username>proxyuser</username>
      <password>proxypass</password>
      <host>proxy.host.net</host>
      <port>80</port>
      <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
    </proxy>
    -->
  </proxies>
  <servers>
    <server>
      <id>repo.edorasware.com</id>
      <username><!--USERNAME--></username>
      <password><!--PASSWORD--></password>
    </server>
    <server>
      <id>edorasware-mirror</id>
      <username><!--USERNAME--></username>
      <password><!--PASSWORD--></password>
    </server>
    <server>
      <id>edorasware-snapshots</id>
      <username><!--USERNAME--></username>
      <password><!--PASSWORD--></password>
    </server>
    <server>
      <id>edorasware-central</id>
      <username><!--USERNAME--></username>
      <password><!--PASSWORD--></password>
    </server>
    <server>
      <id>flowable-customer-release-local-repo</id>
      <username><!--USERNAME--></username>
      <password><!--PASSWORD--></password>
    </server>
    <server>
      <id>flowable-customer-snapshot-local-repo</id>
      <username><!--USERNAME--></username>
      <password><!--PASSWORD--></password>
    </server>
  </servers>
  <mirrors>
    <!--
    <mirror>
      <id>mirrorId</id>
      <mirrorOf>repositoryId</mirrorOf>
      <name>Human Readable Name for this Mirror.</name>
      <url>http://my.repository.com/repo/path</url>
    </mirror>
     -->
  </mirrors>
  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <id>edorasware-central</id>
          <name>edoras releases repo</name>
          <url>https://repo.edorasware.com/edoras-repo</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>edorasware-snapshots</id>
          <name>edoras snapshots repo</name>
          <url>https://repo.edorasware.com/edoras-repo</url>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <!--<repository>
          <snapshots />
          <id>archetype</id>
          <name>archetype</name>
          <url>https://repo.edorasware.com/edoras-repo</url>
        </repository>-->
        <repository>
          <id>spring-snapshot</id>
          <name>Spring Snapshot Repository</name>
          <url>https://repo.spring.io/snapshot</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>repository.spring.milestone</id>
          <name>Spring Milestone Repository</name>
          <url>http://repo.spring.io/milestone</url>
        </repository>
        <repository>
          <id>flowable-customer-release-local-repo</id>
          <url>https://repo.flowable.com/customer-release-local</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>flowable-customer-snapshot-local-repo</id>
          <url>https://repo.flowable.com/customer-snapshot-local</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
            <id>alfresco-public-repo</id>
            <url>https://artifacts.alfresco.com/nexus/content/repositories/public/</url>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
        </repository> 
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>edorasware-central</id>
          <name>repo</name>
          <url>https://repo.edorasware.com/edoras-repo</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>edorasware-snapshots</id>
          <name>repo</name>
          <url>https://repo.edorasware.com/edoras-repo</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
    <!-- <activeProfile>glassfish-context</activeProfile> -->
  </activeProfiles>
</settings>
